.background {
    background-image: url('/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

.darumadrop-one-regular {
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-style: normal;
}


h1 {
    color: white;
    font-family: "Darumadrop One", sans-serif;
    font-size: 50px;
}